<style>
    .w3-sidenav{
        background-color: #000000;
        /*color: #FFFFFF;*/
    }
</style>

<div ng-app="myApp" lang="en"  >
    <br>
    <br>
    <br>
    <nav class="w3-sidenav  w3-card-2 w3-animate-left" style="display:none" id="mySidenav">
  <a href="javascript:void(0)" 
  onclick="w3_close()"
  class="w3-closenav w3-large"><font color="white">Close &times;</font></a>
 <div class="dropdown">
  <select ng-model="selectedelecategory" ng-change="changecategory(selectedelecategory)" id="dropdowns">
      <option value="">--category--</option>
  <option value="SLR">Cameras</option>
  <option value="television">Televisions</option>
  <option value="mobile">Mobiles</option>
      <option value="laptop">Laptops</option>
</select>
      </div>
    <div class="dropdown">
  <select ng-model="selectedelebrand" ng-change="changebrand(selectedelebrand)" id="dropdowns">
      <option value="">--Manufacturer--</option>
  <option value="canon">Canon</option>
  <option value="nikon">Nikon</option>
  <option value="lenovo">Lenovo</option>
 <option value="apple">Apple </option>
       <option value="samsung">Samsung </option>
       <option value="htc">HTC </option>
      <option value="dell">DELL </option>
       <option value="acer">Acer </option>
      <option value="sony">Sony</option>
      <option value="lg">LG</option>
      <option value="panasonic">Panasonic</option>
      
</select>
      </div>
     <div class="radio">
  <label><input type="radio" name="optradio"  ng-model="priceFilter" ng-value="false"><font color="white"><strong>Low to High</strong></font></label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio"  ng-model="priceFilter" ng-value="true"><font color="white"><strong>High to Low</strong></font></label>
</div>
 
</nav>
<div id="main">

<header class="w3-container w3-white">
  <span class="w3-opennav w3-xlarge" onclick="w3_open()" id="openNav"><p>Filters</p><span class="glyphicon glyphicon-filter"></span></span>
  
</header>



<div class="w3-container">
 <div class="menproducts" style="margin-top:50px;">
	<div class="row">

    	
            
       
        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="product in products | filter : selectedelecategory | filter : selectedelebrand | orderBy:'price':priceFilter">
            <div class="col-item">
                <div class="photo">
                   <span ng-click="displayProduct(product)"><img src="{{product.image}}" class="img-responsive" alt="a" ng-style="{'width':'500px', 'height':'400px'}" /></span> 
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5 class="price-text-color" id="brand">{{product.manufacturer}}</h5>
                             <h5 class="price-text-color" id="brand">{{product.productName}}</h5>
                            <h5 class="price-text-color" id="brand">&#x20B9;{{product.price}}</h5>
                        </div>
                        <div class="rating hidden-sm col-md-6" >
                            <i class="price-text-color fa fa-star" ng-repeat="star in range(product.rating)"></i>
                            <i class=" fa fa-star" ng-repeat="star in range(5-product.rating)"></i>
                        </div>
                    </div><br>
                    <div class="separator clear-left">
                       <button type="button" class="btn btn-warning" ng-click="addItem(product._id,product.productName,product.image,product.price,product.quantity,product.brand,product.manufacturer)">
                            <i class="fa fa-shopping-cart"></i>Add to cart</button>
                        
                                                    <button type="button" class="btn btn-warning pull-right" id="wish" ng-click="wishList(product,$index)" >
                            <span class="glyphicon glyphicon-heart"></span>Wishlist</button>
                             
                        
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
     
	</div>
</div>
   

</div>
    </div>


</div>