html
head
  //- bower:css
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
  //- endbower 
		 //- bower:js
		 script(src='/lib/jquery/dist/jquery.js')
		 script(src='/lib/bootstrap/dist/js/bootstrap.js')
		 //- endbower 
         //-inject:css 
       
         link(rel="stylesheet", href="/css/bootstrap.css") 
       
         link(rel="stylesheet", href="/css/bootstrap.min.css") 
       
         link(rel="stylesheet", href="/css/font-awesome.css") 
       
         link(rel="stylesheet", href="/css/jquery.simpleLens.css") 
       
         link(rel="stylesheet", href="/css/jquery.smartmenus.bootstrap.css") 
       
         link(rel="stylesheet", href="/css/nouislider.css") 
       
         link(rel="stylesheet", href="/css/slick.css") 
       
         link(rel="stylesheet", href="/css/style.css") 
       
         link(rel="stylesheet", href="/css/styles.css") 
       
         //-endinject 
         //-inject:js
      
         script(src="/js/bootstrap.js")
      
         script(src="/js/bootstrap.min.js")
      
         script(src="/js/custom.js")
      
         script(src="/js/jquery.simpleGallery.js")
      
         script(src="/js/jquery.simpleLens.js")
      
         script(src="/js/jquery.smartmenus.bootstrap.js")
      
         script(src="/js/jquery.smartmenus.js")
      
         script(src="/js/nouislider.js")
      
         script(src="/js/slick.js")
      
         //- endinject 
        
title MY APP
body hello saibabu...